* {
    margin: 0;
    padding: 0;
}
.bQeWjT{
    margin-left: 1056px;
  }
#content {
    position: relative;
  }
  #content img {
    position: fixed;
    width: 5%;
    top: 595px!important;
    left: 1373px!important;
    z-index: 9999;
  
  }